#back {
  background: transparent;
  color:#56BAED;
  border-style: none;
}

#header{
  color: white;
  background-color: #56BAED;
  display: block;
  width: 90%;
  margin:auto;
  border-radius: 5px;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#formContent{
  height: 300px;
}

#email{
  margin-bottom: 25px;
}
